1 - Checking for a palindrome

In [1]:
def palindrome(input_str):
    #Removing white spaces
    l = input_str.split()
    input_str = ''
    for i in l:
        input_str = input_str + i
    
    #Reversing the string
    reverse = input_str[::-1]
    
    return input_str == reverse

In [2]:
#Testing our function
print('madam :',palindrome('madam'))
print('nurses run :', palindrome('nurses run'))
print('school :', palindrome('school'))

madam : True
nurses run : True
school : False

2 - Checking for prime numbers

In [3]:
def prime_number(num):
    if num == 0:
        return False
    
    for i in range(2, num):
        if num % i == 0:
            return False

    return True

In [4]:
#Testing our function
print(0,':',prime_number(0))
print(1,':',prime_number(1))
print(2,':',prime_number(2))
print(3,':',prime_number(3))
print(4,':',prime_number(4))
print(17,':',prime_number(17))
print(31,':',prime_number(31))
print(288,':',prime_number(288))

0 : False
1 : True
2 : True
3 : True
4 : False
17 : True
31 : True
288 : False

3 - Checking whether a number is part of a given range

In [5]:
def is_in_range(num, a, b):
    return num in range(a,b)

In [6]:
#Testing our function
print(is_in_range(5, 5, 7))

True

4 - Factorial of a number

In [7]:
def factorial(n):
    f = 1
    for i in range(1,n+1):
        f *= i
    
    return f

In [8]:
print(0,'! =',factorial(0))
print(1,'! =',factorial(1))
print(2,'! =',factorial(2))
print(3,'! =',factorial(3))
print(4,'! =',factorial(4))
print(5,'! =',factorial(5))

0 ! = 1
1 ! = 1
2 ! = 2
3 ! = 6
4 ! = 24
5 ! = 120

5 - Reversing a string

In [9]:
def reverse_str(input_str):
    return input_str[::-1]

In [10]:
print('Hello :', reverse_str('Hello'))
print('data science bootcamp :', reverse_str('data science bootcamp'))

Hello : olleH
data science bootcamp : pmactoob ecneics atad

6 - Summing all the numbers of a list

In [11]:
def sum_list(num_list):
    sum = 0
    for i in num_list:
        sum+=i
        
    return sum

In [12]:
print('[1,5,7] :',sum_list([1,5,7]))
print('[0,1,2,3,4,5] :',sum_list([0,1,2,3,4,5]))
print('[100] :',sum_list([100]))
print('[] :',sum_list([]))

[1,5,7] : 13
[0,1,2,3,4,5] : 15
[100] : 100
[] : 0

7 - Finding the max of 3 numbers

In [13]:
def max_three(a,b,c):
    max_num = a
    if max_num < b:
        max_num = b
    
    if max_num < c:
        max_num = c
        
    return max_num

In [14]:
print('8,5,101 :', max_three(8,5,101))
print('5,8,101 :', max_three(8,5,101))
print('101,8,5 :', max_three(8,5,101))

8,5,101 : 101
5,8,101 : 101
101,8,5 : 101